# Test notebook
In this test notebook, I will use Python to retrieve the sum of salaries that the NBA are paying to their players. Before we begin, let's import the packages:

In [28]:
import numpy as np
import seaborn as sea
import matplotlib.pyplot as plt
import pandas as pd
import types
from botocore.client import Config
import ibm_boto3

Then we import the file to our notebook:

In [1]:
def __iter__(self): return 0

client_94a05f71faed4d5b84a2c32aeed24a76 = ibm_boto3.client(service_name='xx',
    ibm_api_key_id='xxx',
    ibm_auth_endpoint="xxx",
    config=Config(signature_version='xxx'),
    endpoint_url='xxx')

body = client_94a05f71faed4d5b84a2c32aeed24a76.get_object(Bucket='xxx',Key='nba.csv')['Body']
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df = pd.read_csv(body)
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

Just to make sure, let's check the type:

In [2]:
type(df)

pandas.core.frame.DataFrame

Now that we are set, let's use the groupby function to see the total salary of each team.

In [4]:
gb = df.groupby('Team')['Salary'].sum()
gb

Team
Atlanta Hawks              72902950.0
Boston Celtics             58541068.0
Brooklyn Nets              52528475.0
Charlotte Hornets          78340920.0
Chicago Bulls              86783378.0
Cleveland Cavaliers       106988689.0
Dallas Mavericks           71198732.0
Denver Nuggets             60121930.0
Detroit Pistons            67168263.0
Golden State Warriors      88868997.0
Houston Rockets            75283021.0
Indiana Pacers             66751826.0
Los Angeles Clippers       94854640.0
Los Angeles Lakers         71770431.0
Memphis Grizzlies          76550880.0
Miami Heat                 82515673.0
Milwaukee Bucks            69603517.0
Minnesota Timberwolves     59709697.0
New Orleans Pelicans       82750774.0
New York Knicks            73303898.0
Oklahoma City Thunder      93765298.0
Orlando Magic              60161470.0
Philadelphia 76ers         30992894.0
Phoenix Suns               63445135.0
Portland Trail Blazers     48301818.0
Sacramento Kings           71683666.0
San Antonio Spurs          84442733.0
Toronto Raptors            71117611.0
Utah Jazz                  63060091.0
Washington Wizards         76328636.0
Name: Salary, dtype: float64

This conludes my notebook.